.aside-filter{
    &__tabs{
        display: flex;
        justify-content: space-between;
    }
    &__tab{
        font-weight: 400;
        color: #c4c4c4;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        width: 50%;
        &.tab--active{
            color: #2f3035;
            font-family: 'SFProDisplay-Bold', sans-serif;
            font-weight: 700;
            background-color: #fff;
            & span{
                display: inline-block;
                padding-bottom: 7px;
                border-bottom: 2px solid #1c62cd;
            }
        }
    }
    &__item-drop{
        margin: 40px 0;
    }
    &__item-title{
        font-weight: 600;
        padding-left: 26px;
        font-size: 16px;
        line-height: 19px;
        font-family: 'SFProDisplay-Semibold', sans-serif;
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        &-box{
            width: 50%;
            margin-bottom: 10px;
        }
        &-label{
            font-size: 14px;
            line-height: 17px;
            cursor: pointer;
        }
    }
}

.filter__item-drop{
    position: relative;
    cursor: pointer;
    &:before{
        content: "";
        position: absolute;
        background-image: url(../images/arrow-down.svg);
        left: 0;
        bottom: 3px;
        width: 12px;
        height: 8px;
    }
    &--active:before{
        transform: rotate(180deg);
    }
}

.jq-checkbox, .jq-radio{
    background: #fff;
    width: 14px;
    height: 14px;
    box-shadow: none;
    border: 1px solid #c4c4c4;
    border-radius: 1px;
    vertical-align: -2px;
    margin: 0 8px 0 0;
}

.jq-checkbox.checked, jq-radio.checked,
.jq-checkbox.focused, jq-radio.focused {
    background: #1c62cd;
    border:none;
}

.jq-checkbox.checked .jq-checkbox__div{
    width: 8px;
    height: 6px;
    margin: 4px 0 0 3px;
    border-bottom: none;
    border-left: none;
    transform: rotate(0);
    background-image: url(../images/check.svg);
}

.jq-radio.checked .jq-radio__div{
    box-shadow: none;
    width: 14px;
    height: 14px;
    background: #1c62cd;
    border-radius: 0;
    margin: 0;
    // border: none;
}

.aside-filter__content.aside-filter__content--radio {
    flex-wrap: nowrap;
}

// Кастомізація rangeslider
.irs--flat{
    width: 100%;
    margin-top: -15px;
}

.irs-from, .irs-to{
    display: none;
}

.irs--flat .irs-min, .irs--flat .irs-max{
    font-family: 'Barlow', sans-serif;
    text-decoration: underline;
    top: 60px;
    padding: 0;
    color: #2f3035;
    font-size: 14px;
    line-height: 17px;
    text-shadow: none;
    background-color: transparent;
    border-radius: 0;
    visibility: visible !important;
    padding-left: 27px;
}

.irs-min:before{
    content: "от";
}

.irs-max:before{
    content: "до";
}

.irs-min:before,
.irs-max:before{
    position: absolute;
    left: 0;
    padding-right: 12px;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #c4c4c4;
}

.irs--flat .irs-line{
    top: 25px;
    height: 1px;
    background-color: #e0e0e0;
    border-radius: 0;
}

.irs--flat .irs-bar{
    top: 24px;
    height: 3px;
    background-color: #1c62cd;
}

.irs--flat .irs-handle{
    top: 21px;
    width: 8px;
    height: 8px;
    background-color: #1c62cd;
    border-radius: 50%;
}

.irs--flat .irs-handle>i:first-child,
.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
    background: transparent;
}

// ||Кастомізація rangeslider

// Кастомізація dropdown

.aside-filter__item-list{
    margin: 46px 0 40px;
}

.filter__item{
    &-list{
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #c4c4c4;
        padding-top: 34px;
    }
    &-listtitle{
        font-family: 'SFProDisplay-Semibold', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 14px;
        padding-left: 26px;
    }
    &-listselect{
        font-family: 'Barlow', sans-serif;
        font-size: 14px;
        line-height: 17px;
        color: #48494d;
    }
}

.jq-selectbox__select {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #48494d;
    height: 32px;
    padding: 0 25px 0 10px;
    border: none;
    border-radius: 0;
    background: transparent;
    text-shadow: none;
    box-shadow: none;
    &:hover{
        background: transparent;
    }
}

.jq-selectbox__dropdown {
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
    width: 100%;
    margin: -10px 0 0;
    padding-top: 12px;
    border: 1px solid #E0E0E0;;
    border-radius: 0;
    background: #FFF;
    box-shadow: none;
}

.jq-selectbox__trigger {
    top: 6px;
    right: 9px;
    border-left: none;
    background-image: url(../images/arrow-down.svg);
    width: 12px;
    height: 8px;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    border: none
}

.jq-selectbox__select:hover,
.jq-selectbox__select:active{
    background: transparent;
    box-shadow: none;
}

.jq-selectbox.focused .jq-selectbox__select{
    border: none;
}

.jq-selectbox li:hover,
.jq-selectbox li.selected{
    background: rgba(107, 126, 172, 0.05);
    color: #48494d;
}

// ||Кастомізація dropdown

.filter-more{
    width: 100%;
    &__btn{
        font-size: 14px;
        line-height: 17px;
        color: #1c62cd;
        border: none;
        border-bottom: 1px solid #1c62cd;
        background-color: transparent;
        padding: 0;
    }
}

.filter-search{
    width: 100%;
    border: 1px solid #e0e0e0;
    height: 30px;
    padding: 0 20px;
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    &::placeholder{
        color: #BDBEC2;
    }
}

// Стилізація акцій

.btn-checked{
    & .aside-filter__content{
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    & .aside-filter__content-box{
        width: auto;
    }
    & .aside-filter__content-label{
        position: relative;
        // background-color: #f0f0f4;
        height: 25px;
        width: 63px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.07em;
        font-weight: 700;
        color: #c4c4c4;
    }
    & .jq-checkbox{
        width: 63px;
        height: 25px;
        background-color: #f0f0f4;
        border: none;
        &.checked{
            background-color: #1c62cd;
            color: #fff;
            & ~ .btn-checked__text{
                color: #fff;
            }
            & .jq-checkbox__div{
                display: none;
            }
        }
    }
    &__text{
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-63%, 5%);
        text-transform: uppercase;
    }
}

// Стилізація кнопок

.filter-btn__send{
    background: #f0f0f4;
    padding: 16px 85px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    color: #bdbec2;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
    &--active{
        background: #1c62cd;
        color: #fff;
    }
}

.aside-filter__item-btn{
    text-align: center;
}

.filter__extra{
    font-size: 13px;
    line-height: 16px;
    position: relative;
    padding-right: 29px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
    &:after{
        content: '';
        position: absolute;
        right: 0;
        top: 5px;
        background-image: url(../images/arrow-down.svg);
        width: 12px;
        height: 8px;
    }
    &-content{
        display: none;
    }
    &.filter__item-drop--active:after{
        transform: rotate(-180deg);
    }
}

.filter-btn__reset{
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 13px;
    line-height: 16px;
    display: inline-block;
    border-bottom: 1px solid #c4c4c4;
    color: #c4c4c4;
    cursor: pointer;
}
