.aside-filter{
    &__tabs{
        display: flex;
        justify-content: space-between;
    }
    &__tab{
        font-weight: 400;
        color: #c4c4c4;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        width: 50%;
        &.tab--active{
            color: #2f3035;
            font-family: 'SFProDisplay-Bold', sans-serif;
            font-weight: 700;
            background-color: #fff;
            & span{
                display: inline-block;
                padding-bottom: 7px;
                border-bottom: 2px solid #1c62cd;
            }
        }
    }
    &__item-drop{
        margin: 40px 0;
    }
    &__item-title{
        font-weight: 600;
        padding-left: 26px;
        font-size: 16px;
        line-height: 19px;
        font-family: 'SFProDisplay-Semibold', sans-serif;
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        &-box{
            width: 50%;
        }
        &-label{
            font-size: 14px;
            line-height: 17px;
            cursor: pointer;
        }
    }
}

.filter__item-drop{
    position: relative;
    cursor: pointer;
    &:before{
        content: "";
        position: absolute;
        background-image: url(../images/arrow-down.svg);
        left: 0;
        bottom: 3px;
        width: 12px;
        height: 8px;
    }
    &--active:before{
        transform: rotate(180deg);
    }
}

.jq-checkbox, .jq-radio{
    background: #fff;
    width: 14px;
    height: 14px;
    box-shadow: none;
    border: 1px solid #c4c4c4;
    border-radius: 1px;
    vertical-align: -2px;
    margin: 0 8px 0 0;
}

.jq-checkbox.checked, jq-radio.checked {
    background: #1c62cd;
    border:none;
}

.jq-checkbox.checked .jq-checkbox__div{
    width: 8px;
    height: 6px;
    margin: 4px 0 0 3px;
    border-bottom: none;
    border-left: none;
    transform: rotate(0);
    background-image: url(../images/check.svg);
}

.jq-radio.checked .jq-radio__div{
    box-shadow: none;
    width: 14px;
    height: 14px;
    background: #1c62cd;
    border-radius: 0;
    margin: 0;
}

.aside-filter__content.aside-filter__content--radio {
    flex-wrap: nowrap;
}

.irs--flat{
    width: 100%;
}

.irs-from, .irs-to{
    display: none;
}
