.breadcrumbs{
    margin-bottom: 40px;
    &__list-item{
        display: inline-block;
        padding-right: 16px;
        margin-right: 10px;
        position: relative;
        font-size: 15px;
        line-height: 18px;
        color: #C4C4C4;
        &:after{
            content: "";
            position: absolute;
            right: 0;
            bottom: 4px;
            background-image: url(../images/back-arrow.svg);
            width: 6px;
            height: 10px;
        }
        &:last-child::after{
            display: none;
        }
    }
}