.filter-style.select-item{
    border: 1px solid #d7d9df;
    font-size: 14px;
    line-height: 17px;
    margin-right: 34px;
    padding: 7px 10px 7px 20px;
}
.catalog__filter-btn .jq-selectbox__select{
    height: auto;
}

.catalog{
    margin-bottom: 100px;
    &__title{
        font-family: 'SFProDisplay-Bold', sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 26px;
    }
    &__filter{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        &-items button{
            font-size: 14px;
            line-height: 17px;
            opacity: 0.7;
            background: #f0f0f4;
            border-radius: 3px;
            border: none;
            padding: 5px 22px;
            cursor: pointer;
            & + button{
                margin-left: 8px;
            }
        }
        &-btn{
            display: flex;
            align-items: center;
        }
        &-btn button{
            background-color: transparent;
            border: none;
            cursor: pointer;
            margin: 0;
            padding: 0;
            & + button{
                margin-left: 10px;
            }
        }
        &-btngrid{
            width: 26px;
            height: 21px;
        }
        &-btnline{
            width: 25px;
            height: 19px;
        }
        &-button{
            opacity: 0.3;
            outline: none;
            &--active{
                opacity: 1;
            }
        }
    }
    &__inner{
        display: flex;
        &-aside{
            min-width: 290px;
            margin-right: 10px;
        }
        &-list{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            & .product-item__wrapper{
                margin-bottom: 30px;
            }
        }
    }
}

.product-item__wrapper.product-item__wrapper--list{
    width: 100%;
    max-width: 100%;
    transition: all .3s;
}

.product-item__img{
    max-width: 100%;
}

.pagination{
    width: 100%;
    margin-top: 70px;
    &-list{
        display: flex;
        justify-content: center;
        &__item{
            padding: 6px 12px;
            color: #c4c4c4;
            border: 2px solid transparent;
            font-size: 18px;
            line-height: 22px;
            margin: 0 4px;
        }
        &__item.active{
            color: #1c62cd;
            border: 2px solid #1c62cd;
            & a{
                display: block;
            }
        }
    }
}