@media(max-width: 1300px){
    .products__more{
        margin-top: 60px;
    }
}


@media(max-width: 1200px){
    .banner-section__slider-img{
        min-height: 380px;
        max-width: 600px;
    }
    .banner-section__inner{
        justify-content: space-around;
    }
    .banner-section__slider{
        max-width: 600px;
    }
    .categories__inner{
        justify-content: space-around;
    }
    .banner__link img{
        width: 100%;
    }
    .catalog__inner-list{
        justify-content: space-around;
    }
}

@media(max-width: 1100px){
    .menu__item + .menu__item{
        padding-left: 20px;
    }
    .header__address{
        margin-right: 20px;
    }
    .card__input-search{
        margin-right: 0;
    }
}

@media(max-width: 968px){
    .header__bottom{
        display: none;
    }
    .menu__list{
        display: none;
    }
    .menu__btn{
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        &-line{
            background: #2f3035;
            border-radius: 3px;
            height: 3px;
            width: 34px;
            margin: 8px 0;
        }
    }
    .menu__mobile-linewrapper{
        display: flex;
        overflow-x: auto;
        background-color: #f0f0f4;
    }
    .menu__mobile-line{
        display: block;
        font-family: 'SFProDisplay-Semibold', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #2F3035;
        padding: 14px 0 14px 15px;
        min-width: 450px;
    }
    .banner-section__inner{
        margin-top: 25px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .banner-section__slider{
        max-width: 100%;
        &-item{
            text-align: center;
        }
        &-btn{
            display: none;
        }
    }
    .banner-section__slider-img{
        max-width: 100%;
        margin-bottom: 25px;
    }
    .mobile-overflow{
        width: 850px;
    }
    .tabs-wrapper,
    .breadcrumbs__inner,
    .catalog__filter-itemsinner{
        overflow-x: auto;
    }
    .footer__top-inner{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer__top-item{
        margin-bottom: 25px;
    }
    .catalog__filter-btn button{
        display: none;
    }
    .catalog__filter{
        display: block;
        &-btn{
            margin-top: 30px;
        }
    }
    .product-card__inner{
        flex-wrap: wrap;
    }
    .product-card__tabs{
        display: none;
    }
    .product-card__content{
        order: -1;
    }
    .product-card__btn-mobile{
        display: block;
        margin-top: 40px;
        margin-bottom: 80px;
    }
    .product-card__img-box{
        width: 100%;
    }
    .card__top-line label{
        display: block;
        width: 100%;
        margin-bottom: 25px;
        margin-left: 0;
    }
    .card__list-item{
        display: block;
        & div{
            margin-bottom: 15px;
        }
    }

    .card__list-item--title{
        display: none;
    }
    
}

@media(max-width: 640px){
    .header__address{
        display: none;
    }
    .banner-section__slider-img{
        min-height: 200px;
    }
    .banner-section .container{
        padding: 0;
    }
    .search__content-btn{
        font-size: 0;
        line-height: 0;
        background-image: url(../images/search.svg);
        width: 24px;
        height: 24px;
        background-color: transparent;
        background-repeat: no-repeat;
        position: absolute;
        right: 8px;
        top: 13px;
        padding: 17px;

    }
    .search__content-input{
        height: 50px;
        padding-right: 50px;
    }
    .search__content-form{
        position: relative;
    }
    .banner__link img{
        min-height: 90px;
    }
    .catalog__inner{
        flex-wrap: wrap;
    }
    .aside__btn{
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        padding: 15px 0;
        width: 100%;
        color: #fff;
        background-color: #1c62cd;
        margin-bottom: 30px;
    }
    .aside-filter{
        display: none;
    }
    .product-card__title{
        font-size: 20px;
        line-height: 24px;
    }
    .product-card__buttons a + a{
        margin-left: 0;
    }
    .product-card__img{
        width: 100%;
    }

}

@media(max-width: 540px){
    .footer__top-item{
        width: 100%;
    }
    .footer__bottom{
        flex-direction: column;
        &-link{
            margin: 6px 0;
        }
    }
    .footer__form{
        justify-content: space-around;
    }
    .footer__top-inner{
        justify-content: start;
    }
    .footer__top-newsletter.footer__top-item{
        margin-right: auto;
        margin-left: auto;
        width: 280px;
        text-align: center;
    }
    .footer__top-social.footer__top-item{
        width: 100%;
        margin-top: 15px;
        border-bottom: none;
    }
    .social-list{
        justify-content: center;
    }
    .footer-list{
        display: none;
    }
    .footer__top-drop.footer__top-title{
        font-size: 14px;
        line-height: 18px;
        color: #7f7f7f;
        font-weight: 500;
        padding: 15px 0;
    }
    .footer__top-itemdrop{
        margin-bottom: 5px;
        border-bottom: 2px solid #b6b6b6;
    }
    .footer__top-drop{
        position: relative;
        pointer-events: auto;
        &:after{
            content: '';
            position: absolute;
            width: 12px;
            height: 8px;
            background-image: url(../images/arrow-down.svg);
            right: 0;
            top: 21px;
        }
    }
    .footer__top-drop--active:after{
        transform: rotate(180deg);
    }
}

@media(max-width: 440px){
    .banner-section__slider-img{
        min-height: 164px;
    }
    .categories__item{
        padding: 20px 10px 16px;
    }
    .pagination-list__item{
        margin: 0;
    }
}